:host {
    display: block;
}

a {
    display: block;
    background-color: rgb(142, 142, 243);
    border-radius: 3px;
    text-decoration: none;
    color: rgb(243, 229, 229);
    cursor: pointer;
    padding: 10px;
}

a:hover {
    background-color: rgb(107, 107, 219);
}

a.active {
    background-color: rgb(87, 87, 177);
    border: solid 1px rgb(0, 0, 0);
}