:host {
    display: block;
}

a {
    display: block;
    background-color: rgb(142, 142, 243);
    border-radius: 3px;
    text-decoration: none;
    color: rgb(243, 229, 229);
    cursor: pointer;
    padding: 10px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(107, 107, 219);
}

a:hover {
    background-color: rgb(107, 107, 219);
}

a.active {
    background-color: rgb(87, 87, 177);
    border: solid 1px rgb(0, 0, 0);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(243, 229, 229);
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    background-color: rgb(142, 142, 243);
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}